{% extends 'layout.html' %}
{% block body %}

<head>
  <title>About The Creators</title>
</head>
<body>
    <div class="aboutus">
        <h1>Ayden Mason</h1>
        <p>Ayden is a very talented dude. He enjoys coding in his freetime as well as 
            clicking heads in counter strike.</p>
        <br>
        <img class="pic" src="/static/pics/garfield.png" alt="Garfield">
        <h1><center>ok boomer</center></h1>
        <br>
        <h1>Jordyn Mayfield</h1>
        <p1>Jordyn is a dedicated student. She is the Vice President of ACM-W and the 
            Treasurer of NSLS. Outside of school, she likes to bake, anything from 
            brownies to pies.</p1>
        <br><br>
        <h1>Divya Digavalli</h1>
        <p3>Divya is a hardworking student. On campus, she is the Treasurer of ACM-W and 
            a member of CLA. In her free time, she enjoys photography and travelling.</p3>
    </div>
</body>
{% endblock %}