{% extends 'layout.html' %}
{% block body %}

<head>
  <title>About The Creators</title>
</head>
<body>
  <h1>Ayden Mason</h1>
  <p>Ayden is a very talented dude. He enjoys coding in his freetime as well as clicking heads in counter strike</p>
  <br>
  <h2>Jordyn Mayfield</h2>
  <p1>Jordyn is a very dedicated scholar. Jordyn plans to graduate with a 4.00 GPA and to carry her dedication
  into graduate school in pursuit of a PhD.</p1>
  <br><br>
  <h3>Divya Digavalli</h3>
  <p3>I do not know divya well enough to write a synopsis about her future. I am sorry</p3>
</body>
{% endblock %}