{% extends 'layout.html' %}
{% block body %}
  <head>
    <meta charset ="utf-8">
    <title> Home </title>
  </head>
  
  <body>
      <p class="descript">Welcome to eRolla!
        <br>eRolla is an online shopping application in which users can buy and/or sell
        products from other users. Using the navigation bar, you can make an account, 
        browse items, search for a specific item, put an item up for sale, or make a purchase.</p>
      <img class="pic" src="/static/erollalogo.jpg" alt="Logo">
    {% endblock %}
  </body>
