{% extends 'layout.html' %}
{% block body %}
<p>
    <table class="table table-striped">
        <thead>
        <tr>
        <th>ID</th>        
        <th>Seller</th>
        <th>Item name</th>
        <th>Price</th>
        <th>Average Price</th>
        <th>Total Price</th>
        <th>Cheapest Price</th>
        <th>Highest Price</th>
        </tr>
        </thead>
        <tbody>
            {% for u in data %}
      <tr>
      <td>{{ u.itemid }}</td>
      <td>{{ u.seller_user }}</td>
      <td>{{ u.name}}</td>
      <td> {{ u.price }}</td>
      {% endfor %}
      
      <td>{{ price }} </td>
      <td>{{ sum }}</td>
      <td>{{ min }}</td>
      <td>{{ max }}</td>
      </tr>
      </tbody>
      </table><br><br>

    </p>
{% endblock %}

