{% extends 'layout.html' %}
{% block body %}
  <h1>Create Listing</h1>
  {% from "helpers.html" import render_field %}
  <form method="POST" action="">
    <div class = "form-group">
      {{render_field(form.seller, class_="form-control")}}
    </div>
    <div class = "form-group">
        {{render_field(form.itemName, class_="form-control")}}
      </div>
      <div class="form-group">
          {{render_field(form.itemID, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.itemPrice, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.itemColor, class_="form-control")}}
        </div>
        <div class = "form-group">
          {{render_field(form.itemRating, class_="form-control")}}
      </div>
      
        
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
{% endblock %}