{% extends 'layout.html' %}
{% block body %}
<head>
	<title>Modify Item</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container sub-con">
		<h1 class="form-heading">Modify Item</h1>
		<br>
		<form action="" method="post">
			<input type="text" placeholder="Item ID" name="itemid" value="{{
          request.form.itemid }}" class="input-box">

			<input class="btn btn-default" type="submit" value="Modify">
		</form>
		{% if error %}
		<p class="error">
			<strong>Error</strong> {{ error }}
			{% endif %}
	</div>
</body>
{% endblock %}
