<nav class="navbar navbar-default">
      <div class="container">
        <!--<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">eRolla</a>
        </div>-->
        <div id="navbar" class="collapse navbar-collapse">
          <h1 class="mainh">eRolla</h1>
          <table class="nav navbar-nav tabs">
              <tr>
                  <th class="item item1"><a href="/home">Home</a></th>
                  <th class="item item2"><a href="/about">About</a></th>
                  <th class="item item3"><a href="/search">Search</a></th>
                  <th class="item item4"><a href="/listing">Create Listing</a></th>
                  <th class="item item5"><a href="/items">Items</a></th>
                  <th class="item item6"><a href="/delete">Delete</a></th>
                  <th class="item item7"><a href="/modify">Modify</a></th>
                  <th class="item item7"><a href="/purchase">Purchase</a></th>
                  <th class="item item5"><a href="/register">Register</a></th>
                  <th class="item item6"><a href="/login">Login</a></th>
              </tr>
              

          </table>
        </div><!--/.nav-collapse -->
      </div>
    </nav>