{% extends 'layout.html' %}
{% block body %}
  <head>
    <title>Search Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Search Items</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Item Name" name="name" value="{{
          request.form.name }}">
         
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error</strong> {{ error }}
      {% endif %}
    </div>
  </body>
{% endblock %}
