{% extends 'layout.html' %}
{% block body %}
  <head>
    <title>Search Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container sub-con">
      <h1 class="form-heading">Search Items</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Item Name" name="name" value="{{
          request.form.name }}" class="input-box">
         
        <input class="btn btn-default" type="submit" value="Search">
      </form>
      {% if error %}
        <p class="error"><strong>Error</strong> {{ error }}
      {% endif %}
    </div>
  </body>
{% endblock %}
